@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colours */
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);

    /* Font sizes */
    --fs-header: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
    --fs-body: 0.8125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

article {
    background-color: var(--white);
    color: var(--desaturated-dark-blue);
    padding: 32px 32px 20px;
}

#author {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

body {
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    font-size: var(--fs-body);
    letter-spacing: 0.0075rem;
    background-color: var(--light-grayish-blue);
    padding: 24px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card::before {
    display: block;
    content: "";
    flex: 0 0 200px;
    background: url("../images/drawers.jpg") center/cover no-repeat border-box;
}

h1 {
    color: var(--very-dark-grayish-blue);
    line-height: calc(100% + 8px);
    font-weight: 700;
    font-size: var(--fs-header);
    letter-spacing: clamp(0.0125rem, 0.0095rem + 0.0127vw, 0.015625rem);
}
  
img {
    display: block;
    max-width: 100%;
}

p {
    margin-block: 12px 32px;
}

time {
    color: var(--grayish-blue);
}

@media (min-width: 48rem) {
    .card {
        flex-direction: row;
    }

    .card::before {
        flex-basis: 285px;
        height: auto;
    }
}
