@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colours */
    --very-dark-grayish-blue: hsl(217 19% 35%);
    --desaturated-dark-blue: hsl(214 17% 51%);
    --grayish-blue: hsl(212 23% 69%);
    --light-grayish-blue: hsl(210 46% 95%);
    --shadow-grayish-blue: hsl(210 29% 84% / 0.5);
    --white: hsl(0 0% 100%);

    /* Font sizes */
    --fs-header: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
    --fs-body: 0.8125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

article {
    background-color: var(--white);
    color: var(--desaturated-dark-blue);
}

#author {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    grid-area: author;
}

#avatar {
    grid-area: avatar;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-self: center;
}

body {
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: var(--fs-body);
    letter-spacing: 0.0075rem;
    background-color: var(--light-grayish-blue);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    min-width: 300px;
    max-width: 730px;
    box-shadow: 0 40px 40px -10px var(--shadow-grayish-blue);
}

.card::before {
    display: block;
    content: "";
    flex: 0 0 200px;
    background: url("../images/drawers.jpg") center 25%/cover no-repeat border-box;
}

footer {
    position: relative;
    margin-block-start: 16px;
    padding-block: 16px;
}

#footer-main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "avatar author share"
        "avatar date share"
    ;
    column-gap: 16px;
    width: 100%;
}

#footer-overlay {
    visibility: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    column-gap: 16px;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--very-dark-grayish-blue);
    color: var(--grayish-blue);
    transition: 0.5s ease;
}

#footer-overlay.active {
    visibility: visible;
    top: 0;
}

#footer-overlay h2 {
    text-transform: uppercase;
    font-size: inherit;
    letter-spacing: 0.3125rem;
    font-weight: 500;
    line-height: 1;
    user-select: none;
}

#footer-overlay a {
    display: flex;
    flex-shrink: 0;
    fill: var(--white);
}

#footer-overlay a:hover {
    fill: var(--grayish-blue);
}

h1 {
    color: var(--very-dark-grayish-blue);
    line-height: calc(100% + 8px);
    font-weight: 700;
    font-size: var(--fs-header);
    letter-spacing: clamp(0.0125rem, 0.0095rem + 0.0127vw, 0.015625rem);
    margin-block: 36px 12px;
}

h1, p, footer > * {
    padding-inline: 32px;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

#share {
    grid-area: share;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    align-self: center;
    background-color: var(--light-grayish-blue);
    fill: var(--desaturated-dark-blue);
    z-index: 1;
    position: relative;
}

#share svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#share.selected {
    background-color: var(--desaturated-dark-blue);
    fill: var(--white);
}

time {
    color: var(--grayish-blue);
    grid-area: date;
}

@media (hover: hover) {
    #share:hover {
        background-color: var(--desaturated-dark-blue);
        fill: var(--white);
    }

    #share.selected:hover {
        background-color: var(--light-grayish-blue);
        fill: var(--desaturated-dark-blue);
    }
}

@media (min-width: 48rem) {

    article {
        border-radius: inherit;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    body {
        justify-content: center;
    }

    .card {
        flex-direction: row;
        overflow: visible;
    }

    .card::before {
        flex-basis: 285px;
        height: auto;
        background-position: left center;
        border-radius: inherit;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    footer {
        margin-block: 20px 32px;
        padding-block: 0;
    }

    #footer-overlay {
        opacity: 0;
        width: auto;
        height: 3.4375rem;
        right: 24%;
        top: -20%;
        padding-inline: 36.5px;
        border-radius: 10px;
        box-shadow: 0 10px 10px 0 var(--shadow-grayish-blue);
    }

    #footer-overlay::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -12px;
        border-width: 12px;
        border-style: solid;
        border-color: transparent transparent transparent var(--very-dark-grayish-blue);
    }

    #footer-overlay.active {
        right: 24%;
        top: -20%;
        opacity: 1;
    }

    h1 {
        margin-block: 32px 12px;
    }

    h1, p, footer > * {
        padding-inline: 40px;
    }
}

@media (min-width: 54rem) {
    #footer-overlay, #footer-overlay.active {
        right: -15%;
        top: -199%;
    }

    #footer-overlay.active {
        opacity: 1;
    }

    #footer-overlay::after {
        top: 100%;
        left: 50%;
        margin-top: 0;
        margin-left: -12px;
        border-style: solid;
        border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }
}
